@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Данное веб-решение предназначено для прослушивания mp3-аудиофайлов в веб-интерфейсе, получение некоторой информации из файла и отображение на веб-странице.</p>
<p>Приложение было создано в учебных целях для демонстрации результатов прохождения курсов по программированию</p>
<br />
<p></p>
